body{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    padding: 20px;

   
}

.container{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin-top: 30px;
    font-size: 1rem;
    font-family: monospace;
}
.start-button{
    background-color: yellow;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    font-size: 1rem;
    font-family: monospace;
    cursor: pointer;
}

.cardmatchgame{
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 2.2rem;
    color: yellow;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;;
     margin-bottom: 10px;
  
}
.instructions{
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 1.2rem;
    color: black;
    margin-left: 25px;
    margin-right: 20px;  
    
}

@media (max-width: 680px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 10px;
    }

    .container {
        width: 100%;
        max-width: 350px;
        padding: 15px;
        height: 60%;

    }

    .cardmatchgame {
        font-size: 1.6rem;
    }

    .instructions {
        font-size: 1rem;
    }

    .start-button {
        width: 130px;
        height: 35px;
        font-size: 0.9rem;
        margin-top: -100px;
    }
}

/* Tablet Portrait: 820x1180 */
@media (min-width: 768px) and (max-width: 1271px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        height: 100vh;
    }

    .container {
        width: 500px;
        padding: 25px;
    }

    .cardmatchgame {
        font-size: 2.3rem;
    }

    .instructions {
        font-size: 1.2rem;
    }

    .start-button {
        width: 160px;
        height: 45px;
        font-size: 1rem;
        margin-top: -520px;
    }
}

/*@media (min-width: 681px) and (max-width: 767px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        height: 100vh;
    }

    .container {
        width: 500px;
        padding: 25px;
    }

    .cardmatchgame {
        font-size: 2.3rem;
    }

    .instructions {
        font-size: 1.2rem;
    }

    .start-button {
        width: 160px;
        height: 45px;
        font-size: 1rem;
        margin-top: -520px;
    }
}
*/